@import "bootstrap.less";
@import "responsive.less";

@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);

.offset3 {
  margin-left: 330px;
}

h1, h2, h3, h4, h5, p {
  font-family: 'Bitter', serif;
}

#logo {
 .offset3;
 margin-top: 2%;
}

#hand {
	position: absolute;
	left: 730px;
	bottom:0;
}

#copy {
  .offset3;
  margin-top: 30px;
  font-size: 1.5em;
  width: 380px;
}

form {
  .offset3;
  margin-top: 100px;
}

@media (max-width: 767px) {

  #logo {
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
    width: 90%;
  }
  
  #copy {
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    padding: 8px 0 8px 0;
    color: #FFF;
    width: 280px;
    font-size: 1.2em;
    background: rgba(0,0,0,0.6);
    border-radius: 5px;
  }

  #hand {
    display: none;
  }
  
  form {
    text-align: center;
    margin: 0 auto;
    margin-top: 30px
  }
  
}

@media screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 1) {
  #hand {
    display: none;
  }
}